* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #333;
}

.brand-title {
    font-size: 1.5rem;
    margin: .6rem;
    padding-left: 1rem;
}

span {
    color: crimson;
}

.navbar-link ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-link li {
    list-style: none;
}

.navbar-link li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-link li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px ) {
    .toggle-button {
        display: flex;
    }

    .navbar-link {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-link ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-link li {
        text-align: center;
    }

    .navbar-link li a {
        padding: .8rem 1rem;
    }

    .navbar-link.active {
        display: flex;
    };
}

/* grid part  */


.movies {
    background: rgb(163, 161, 161);
    grid-template-rows: 9fr 1fr;
    display: grid;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: .7em;
    grid-template-rows: 1fr;
    grid-row-gap: 1em;
    padding: .5em;
}

body {
    background-color: #555;
}

.grid-container div {
    border: #555 solid 1px;

}


/* image part  */

img {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    max-width: 100%;
    display: block;
    max-height: 100%;
}

/* media queries grid */

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

/* loader spinner  */

.loader {
    border: 4px solid #Fff;
    width: 30px;
    height: 30px;
    animation: spin 2s ease infinite;
    /* display: inline-block; */
    position: relative;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    /* display: none; */
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #Fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height:  0%;}
    25% { height:  0%;}
    50% { height:  100%;}
    75% { height:  100%;}
    100% { height:  0%;}
}

/* media laptop */


@media (min-width: 1000px) {
    .grid-container {
        width: 100%;
        height: 100%;
        padding-left: 240px;
        padding-right: 210px;
    }
}